In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import funciones as fx

In [2]:
conn = fx.conexion_sqlalchemy()

In [3]:
df = fx.selectView(conn)

In [6]:
df.head()

,Clave,Make,make_id,Model,model_id,Vin,Doors,Fuel_Type,Front_Airbag_Location,Manufactured,Engine_Displacement_CC,Engine_Displacement_CI
0,Acura-TSX4dr,Acura,1,TSX4dr,2392,JH4CU26639C015787,4,gasoline,1st row (driver and passenger),"honda motor co., ltd",2359.737216,144.000000
1,Acura-TSX,Acura,1,TSX,2391,JH4C42F48EC000677,0,,,,0.000000,0.000000
2,Acura-ILX4dr,Acura,1,ILX4dr,1225,19VDE1F34FE007892,4,gasoline,1st row (driver and passenger),"american honda motor co., inc.",1997.000000,121.900000
3,Acura-ILXAcuraWatch,Acura,1,ILXAcuraWatch,1228,19UDE2F32HA001240,4,gasoline,1st row (driver and passenger),"american honda motor co., inc.",2400.000000,146.456986
4,Acura-ILXHybrid,Acura,1,ILXHybrid,1230,19VDE3F74DE302275,4,gasoline,1st row (driver and passenger),"american honda motor co., inc.",1491.222824,91.000000